<template>
    <button @click="getOrder">Get Order</button>
    <li>
        <img v-for="(value, index) in valueOrder" class='card' :src="'/src/assets/cards/' + value + 'S.svg'">
    </li>
    <li>
        <img v-for="(color, index) in colorOrder" class='card' :src="'/src/assets/cards/A' + color + '.svg'">
    </li>
    <button @click="getCards">Draw cards</button>
    <li>
        <img v-for="(card, index) in cards" class='card' :src="'/src/assets/cards/' + card + '.svg'">
    </li>
    <li>
        <img v-for="(card, index) in ordered" class='card' :src="'/src/assets/cards/' + card + '.svg'">
    </li>


</template>

<script>

import axios from 'axios'


export default {
    name : "CardHand",
    data() {
        return {
            cards: [],
            ordered: [],
            colorOrder: [],
            valueOrder: [],

        }
    },
    methods: {
        async getCards() {
            this.cards = [];
            let response = await axios.get('http://localhost:8080/cards/draw');
            this.cards = response.data.cards;

            this.ordered = [];
            response = await axios.get('http://localhost:8080/cards/last-hand-ordered');
            this.ordered = response.data.cards;
        },
        async getOrder() {
            await axios.post('http://localhost:8080/cards/random-order');

            this.colorOrder = [];
            let response = await axios.get('http://localhost:8080/cards/color-order');
            this.colorOrder = response.data;

            this.valueOrder = [];
            response = await axios.get('http://localhost:8080/cards/value-order');
            this.valueOrder = response.data;

        }
    }
}
</script>

